
/* Border box declaration */
html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Geneva, sans-serif;
}


main {
    background-color: #f4f4f4;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.btn {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
}

.btn-primary {
    background-color: #73b4ff;
}

.btn-secondary {
    background-color: #73fff8;
}

.btn-tertiary {
    background-color: #ff73f8;
}
